In [9]:
import pandas as pd

In [10]:
data=pd.read_csv('/content/news (1).csv')

In [11]:
data

         publish_date                                           headline
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1048570      20160918    bill de blasio no evidence of terror connection
1048571      20160918  boyer lectures michael marmot work harming you...
1048572      20160918                   carnaby cockatoo revival program
1048573      20160918  collier convinced colin barnett has overwhelmi...
1048574      20160918  cowboys offer indigenous kids north queensland...

[1048575 rows x 2 columns]

In [12]:
import nltk

In [13]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [14]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [15]:
sentiment=SentimentIntensityAnalyzer()

In [16]:
def vadar_sentiment(text):
    """ Calculate and return the nltk vadar (lexicon method) sentiment """
    return sentiment.polarity_scores(text)['compound']

# create new column for vadar compound sentiment score
data['vadar compound'] = data['headline'].apply(vadar_sentiment)

def categorise_sentiment(sentiment, neg_threshold=-0.05, pos_threshold=0.05):
    """ categorise the sentiment value as positive (1), negative (-1) 
        or neutral (0) based on given thresholds """
    if sentiment < neg_threshold:
        label = 'negative'
    elif sentiment > pos_threshold:
        label = 'positive'
    else:
        label = 'neutral'
    return label

# new col with vadar sentiment label based on vadar compound score
data['sentiment'] = data['vadar compound'].apply(categorise_sentiment)

In [17]:
data.head()

,publish_date,headline,vadar compound,sentiment
0,20030219,aba decides against community broadcasting lic...,0.0000,neutral
1,20030219,act fire witnesses must be aware of defamation,-0.3400,negative
2,20030219,a g calls for infrastructure protection summit,0.0000,neutral
3,20030219,air nz staff in aust strike for pay rise,-0.2263,negative
4,20030219,air nz strike to affect australian travellers,-0.1280,negative

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer

In [29]:
token=RegexpTokenizer(r'[a-zA-Z0-9]+@#')

In [33]:
token=RegexpTokenizer('\s+', gaps = True)

In [28]:
token

RegexpTokenizer(pattern='[a-zA-Z0-9]+@', gaps=False, discard_empty=True, flags=<RegexFlag.UNICODE|DOTALL|MULTILINE: 56>)

In [24]:
cv=CountVectorizer(lowercase=True,stop_words='english',ngram_range=(1,1),tokenizer=token.tokenize)

In [25]:
text_count=cv.fit_transform(data['headline'])

In [26]:
text_count.shape

(1048575, 90781)